<div class="body" style="padding-top:130px;">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="container">
<form class="formaLog p-3" style="background-color:rgb(255,255,255)"> 
Odaberite recenzente
   <div ng-repeat="recenzent in recenzenti">
   
    <button class="form-control" name='dodajRecenzenta' ng-click="dodajRecenzenta(recenzent)" style="background-color:rgb(51,51,255);color:white;">{{recenzent.ime}}</button>
</div>
<button class="form-control" name='potvrdiRecenzente' ng-click="potvrdiRecenzente()" style="background-color:rgb(51,51,255);color:white;" >Potvrdi</button>
</form>
</div>
</body>
</html>
</div>