<div class="body" style="padding-top:130px;">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<form class="formaLog p-3" style="background-color:rgb(255,255,255);">
Odaberite task
<div ng-repeat="task in taskovi">
    <button name='odaberiCasopis' ng-click="odaberiCasopis(task)" class="form-control" style="background-color:rgb(51,51,255);color:white;">{{task.rad}}</button>
</div>
</form>
</div>

</body>
</html>
</div>