<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pocetna</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link"ng-click="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<form name='f' method='POST' style="background-color:rgb(241,247,252);">
    <h1 class="text-center" style="height:70px;">Dobrodosao recenzente</h1>
   <div ng-repeat="task in taskovi">
    <label>{{task.rad}}</label>
    <button name='izaberiCasopis' ng-click="izaberiCasopis(task)">Ispravi rad</button>
</div>
</form>