#lakisrc {
  margin:auto;
  border:3px solid rgb(150,196,49);
  padding:10px;
}

.body {
  background-image: url('../css/log.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
.bodyU {
  background-image: url('../css/log.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.kv {
  border-style: solid;
  border-color: blue;
  border-radius: 30px;
}

.jednakol {
  border:2px solid rgb(150,196,49);
  padding:10px;
}

.formaLog {
  border-radius: 25px;
  background-color:rgb(241,247,252);
  
}

.forma2 {
  border-radius: 25px;
  background-color:rgb(255,255,255);
  width : 30%;
  
  
}